.box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: rgb(236, 235, 235);
    padding: 20px; 
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden; 
}

.formulario {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    width: 40%; 
    max-width: 90%;
    padding: 20px;
    text-align: center; 
}

.formulario p {
    padding: 8px 0;
    text-align: left;
    margin-left: 10%;
    font-weight: bold;
}

.formulario input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto; 
}

.pregunta-seguridad {
    background-color: #ebebeb; 
    padding: 8px;
    border-left: 5px solid #ff0000;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
}

.captcha-container {
    display: flex;
    justify-content: center; 
    margin-top: 15px;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    transition: width 0.3s ease, background-color 0.3s ease;
}



@media (max-width: 768px) {
    .formulario {
        width: 90%;
    }
}


